- name: Ensure zigbee2mqtt.service is present
  template:
    src: "{{ role_path }}/templates/systemd/zigbee2mqtt.service.j2"
    dest: "{{ zigbee2mqtt_systemd_path }}/zigbee2mqtt.service"
    mode: 0644
  notify:
  - Ensure systemd reloaded after service change installation
  - Ensure service is restarted

- name: Ensure zigbee2mqtt.service is enabled
  when: zigbee2mqtt_enabled_service and not zigbee2mqtt_service_now
  service:
    name: zigbee2mqtt
    enabled: true

- name: Ensure zigbee2mqtt.service is started
  when: zigbee2mqtt_enabled_service and zigbee2mqtt_service_now
  service:
    name: zigbee2mqtt
    state: started
    enabled: true
    
- name: Flush handlers
  meta: flush_handlers
